        #first{
            background-color: yellow;
        }
        .blue{
            background-color: blue;
        }
        .black{
            color: yellow;
            background-color: magenta;
        }
   